<% title t('admin.seasons') %>
<p><%= link_to t('admin.new_season'), new_season_path %></p>
<table>
<thead>
  <tr>
    <th><%= t('admin.name') %></th>
    <th><%= t('admin.start') %></th>
    <th><%= t('admin.end') %></th>
  </tr>
</thead>
<tbody>
  <% for season in @seasons %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%=h season.name %></td>
      <td><%=h season.start %></td>
      <td><%=h season.end %></td>
      <td><%= link_to t('admin.show'), season %></td>
      <td><%= link_to t('admin.edit'), edit_season_path(season) %></td>
    </tr>
  <% end %>
</tbody></table>
<p><%= link_to t('admin.new_season'), new_season_path %></p>

