<% title t('admin.season') %>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%=t @season.name %>
</p>
<p>
  <strong><%= t('admin.start') %>:</strong>
  <%=h @season.start %>
</p>
<p>
  <strong><%= t('admin.end') %>:</strong>
  <%=h @season.end %>
</p>
<% unless @season.houses.empty? %>
<p>
  <strong><%= t('admin.houses') %>:</strong>
  <%= @season.houses.map {|house| house_link(house) }.to_sentence %>
</p>
<% end %>
<p>
  <%= link_to t('admin.edit'), edit_season_path(@season) %> |
  <%= link_to t('admin.destroy'), @season, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t('admin.view_all'), seasons_path %>
</p>
