<% title "Conditions" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for condition in @conditions %>
    <tr>
      <td><%=h condition.name %></td>
      <td><%= link_to "Show", condition %></td>
      <td><%= link_to "Edit", edit_condition_path(condition) %></td>
      <td><%= link_to "Destroy", condition, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New condition", new_condition_path %></p>
