<div id="house_<%= house.id %>" class="mini">
  <div class="span-18 last">
    <div class="span-16">
    <span class="label"><%= t :city %>:</span>
    <span class="field"><%=h house.city %></span>
&nbsp;
    <span class="label"><%= t :code %>:</span>
    <span class="field"><%=h house.code %></span>
    </div>
    <div class="span-2 last">
    <%= check_box_tag "checked_#{house.id}", 1, @cart.items.include?(house), :disabled => true %>
    </div>
<br /><% if house.discounted?  %>
    <span class="label"><%= t :discount %>:</span>
    <span class="field"><%=h house.discount.description %></span>
    <% end %>
  </div>
  <div class="span-6">
    <div style="width:200px;height:140px;text-align:center"><span class="field" rowspan="10"><% if house.picture_urls %><%= image_tag house.picture_urls[0], :size => '210x140' %><% else %>nincs kép<% end %></span></div>
  </div>
  <div class="span-6">
    <span class="label"><%= t :persons %>:</span>
    <span class="field"><%=h house.persons %> <%= t('pers') %></span>
  <br />
    <span class="label"><%= t :house_type_id %>:</span>
    <span class="field"><%=h house.house_type %></span>
  <br />
    <span class="label"><%= t :condition_id %>:</span>
    <span class="field"><%=h house.condition %></span>
  <br />
    <span class="label"><%= t :furnishing_id %>:</span>
    <span class="field"><%=h house.furnishing %></span>
  <br />
    <span class="label"><%= t :floor_area %>:</span>
    <span class="field"><%=h house.floor_area %> <%= t('sqmeter') %></span>
  </div>
  <div class="span-6 last">
    <span class="label"><%= t :animals %>:</span>
    <span class="field"><%= house.animals==1 ? t('yes_animal') : t('no_animal') %></span>
  <br />
    <span class="label"><%= t :distance_center %>:</span>
    <span class="field"><%=h house.distance_center %> <%= t('meter') %></span>
  <br />
    <span class="label"><%= t :distance_beach %>:</span>
    <span class="field"><%=h house.distance_beach %> <%= t('meter') %></span>
  <br />
    <span class="label"><%= t :distance_shop %>:</span>
    <span class="field"><%=h house.distance_shop %> <%= t('meter') %></span>
  <br />
    <span class="label"><%= t :distance_restaurant %>:</span>
    <span class="field"><%=h house.distance_restaurant %> <%= t('meter') %></span>
  </div>
  <div class="span-18 last">
    <div class="span-3">
    <span class="field"><%= link_to t("Details"), house %></span>
    </div>
    <div class="span-3">
    <span class="field"><%= link_to t("Photos"), house %></span>
    </div>
    <div class="span-3">
    <span class="field"><%= button_to t("Booking"), :action => :add_to_cart %></span>
    </div>
    <div class="span-3">
    <span class="field"><%= button_to_function t("Select"), 
"if ($('checked_#{house.id}').checked) { $('checked_#{house.id}').checked=false } else { $('checked_#{house.id}').checked=true }" %></span>
    <span class="field"><%= button_to t("Select"), :action => :add_to_cart, :id => house.id %></span>
    </div>
    <div class="span-3 last">
    <span class="field"><%= link_to t("Print"), house %></span>
    </div>
  <br />
    <span class="field"><%= link_to t("Edit"), edit_house_path(house) %></span>
    <span class="field"><%= link_to t("Destroy"), house, :confirm => t('Are you sure?'), :method => :delete %></span>
  </div>
</div>