  <a name="house_<%= house.id %>" title="<%=h house.city %>, <%=h house.code %>"></a>
  <div class="span-19 last">
    <div class="span-18 location">
    <span class="field"><%=h house.city %></span>
&nbsp;
    <span class="label"><%= t(:code) %>:</span>
    <span class="field"><%=h house.code %></span>
    </div>
<br /><% if house.discounted?  %>
    <span class="label"><%= t(:discount) %>:</span>
    <span class="field discount"><%=h truncate( house.discount.description, :length => 40 ) %></span>
    <% end %>
  </div>
  <div class="span-4">
    <div class="photos"><div><% link_to :action => (current_page?('show_houses') ? '' : 'show'), :id => house, :anchor => 'details' do %>
    <%- if house.thumb %>
      <%= image_tag house.thumb %>
    <% else %>
    <%= t('no_picture') %>
    <% end %>
    <% end %></div></div>
  </div>
  <div class="span-7">
    <span class="label"><%= t(:persons) %>:</span>
    <span class="field">max. <%=h house.persons.to_s + (house.children > 0 ? '+' + house.children.to_s : '') %> <%= t('pers') %></span>
  <br />
    <span class="label"><%= t(:house_type_id) %>:</span>
    <span class="field"><%=h house.house_type %></span>
  <br />
    <span class="label"><%= t(:condition_id) %>:</span>
    <span class="field"><%=h house.condition %></span>
  <br />
    <span class="label"><%= t(:furnishing_id) %>:</span>
    <span class="field"><%=h house.furnishing %></span>
  <br />
    <span class="label"><%= t(:floor_area) %>:</span>
    <span class="field"><%=h house.floor_area %> <%= t('sqmeter') %></span>
  </div>
  <div class="span-7 last">
    <span class="label"><%= t(:animals) %>:</span>
    <span class="field"><%= house.animals? ? t('yes_animals') : t('no_animals') %></span>
  <br />
  <% %w{center beach shop restaurant}.each do |item| %>
    <span class="label"><%= t("distance_#{item}") %>:</span>
    <span class="field"><%= t('meters', :count => house.distance(item)) %></span>
  <br />
  <% end %>
  </div>
