  <div class="span-18 prepend-1 last">
    <div class="span-4">
    <span class="field"><%= if action_name == 'show' then button_to( t("Back to houses"), :back, :method => 'get') else button_to t("Details"), {:action => 'show', :id => house, :anchor => 'details'}, :method => 'get' end %></span>
    </div>
    <div class="span-3">
    <span class="field"><%= button_to t("Photos"), {:action => 'show', :id => house, :anchor => 'photos'}, :method => 'get' %></span>
    </div>
    <div class="span-3">
    <span class="field"><%= button_to t("Booking"), :new_booking %></span>
    </div>
    <div class="span-4">
    <% 
if controller.action_name == 'cart' or @cart.items.include?(house.id)
  cart_button_label = t('cart.deselect')
  cart_action = 'del'
else
  cart_button_label = t('cart.select')
  cart_action = 'add'
end %>
    <span class="field"><%= button_to cart_button_label, :action => :cart, :id => house.id, :cart => cart_action %></span>
    </div>
    <div class="span-3 last">
    <span class="field"><%= button_to t("Print"), house, :id => house.id, :method => 'get', :print => '' %></span>
    </div>
  <% if admin? %>
  <br />
    <span class="field"><%= link_to t('admin.edit'), edit_house_path(house) %></span>
    <span class="field"><%= link_to t('admin.destroy'), house, :confirm => t('admin.are_you_sure'), :method => :delete %></span>
  <% end %>
  </div>