<% form_for 'q', :url => houses_path, :html => { :method => :get }  do |f| -%>
  <% [:advanced, :category, :discount].each do |param| %>
  <%= hidden_field_tag( param, params[param] ) if params[param] %>
	<% end -%>
 <div class="span-19">
  <div class="span-5">
  <div class="span-3 label"><%= t :persons %></div>
  <%= f.select :persons, (1..15), :selected => (params[:q] ? params[:q][:persons].to_i : ''), :include_blank => '' -%>
  </div>
  <div class="span-14 last">
	<div class="span-7">
  <div class="span-3 label"><%= t :city %></div>
  <%= f.select 'where', Taggable.find_by_field('city_id').tags.map{|tag| tag.name }, :selected => (params[:q] ? params[:q][:where] : ''), :include_blank => '' %>
	</div>
  <div class="span-7 last">
  <div class="span-3 label"><%= t :code %></div>
  <div class="span-3 last field">
  <%= f.text_field :code, :size=> 12, :value => (params[:q] ? params[:q][:code] : '') %>
  </div>
  </div>
  </div>
  <div class="span-14">
	<div class="span-7">
  <div class="span-3 label"><%= t :date_from %></div>
  <div class="span field">
  <%= calendar_date_select 'q', 'from', :size=> 11, :value => params[:q] ? params[:q][:from] : '' %>
  </div>
  </div>
	<div class="span-7 last">
  <div class="span-3 label"><%= t :date_to %></div>
  <div class="span field">
  <%= calendar_date_select 'q', 'to', :size=> 11, :value => params[:q] ? params[:q][:to] : '' %>
  </div>
  </div>
  </div>
  <div class="span-4">
  <%= submit_tag t('search.button') %><br />
  <%= link_to  t(:detailed_search), houses_path(:advanced => '', :method => :get) %>
  </div>
 </div>
<% end %>