<%= show_hide(house.id) %>
<div id="stamp_<%= house.id %>" class="span-6 stamp mini house odd<%= ' last' if last %>">
  <div class="location">
    <span class="field"><%=h house.city %></span><br />
    <span class="label"><%= t :code %>:</span>
    <span class="field"><%=h house.code %></span>
  </div>
  <div class="span-6">
    <div class="photos"><% link_to :controller => 'houses', :action => 'show', :id => house, :anchor => 'details' do %>
    <div><% if house.picture_urls[0] %><%= image_tag house.picture_urls[0] %><% else %> <%= t('no_picture') %> <% end %></div>
    <% end %></div>
  </div>
  <div class="span-6">
    <span class="label"><%= t :persons %>:</span>
    <span class="field">max.  <%=h house.persons %> <%= t('pers') %></span>
  </div>
</div>