<!-- % title  t "Houses" %-->

<div class="minis">
  <% for house in @houses %>
  <div id="house_<%= house.id %>" class="mini house <%= cycle('odd', 'even') %>">
  <%= render :partial => 'mini', :locals => { :house => house } %>
  <%= render :partial => 'navigation' , :locals => { :house => house }%>
  </div>
  <% end %>
</div>

<p><%= link_to t("New House"), new_house_path %></p>
