<% title t('title_houses_found') %>
<%= t( :houses_found, :count => @houses_count ) %>
<%= will_paginate @houses, :previous_label => t(:prev_link), :next_label => t(:next_link) %>
<div class="span-19 last">
  <% for house in @houses %>
  <div id="house_<%= house.id %>" class="mini house <%= cycle('odd', 'even') %>">
  <%= render :partial => 'mini', :locals => { :house => house, :cart => @cart } %>
  <%= render :partial => 'navigation' , :locals => { :house => house }%>
  </div>
  <% end %>
</div>
<%= will_paginate @houses, :previous_label => t(:prev_link), :next_label => t(:next_link) %>
<% if root_admin? %>
<div class="span-20"><%= link_to t('admin.new_house'), new_house_path %></div>
<% end %>
<div class="span-20"><% link_to url_for(request.path_parameters.merge(request.query_parameters.merge(:format => :xml))) do %>
<%= image_tag('/images/feed-icon-14x14.png', :alt => 'rss feed') %>
<% end %></div>
<% content_for :head do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= url_for(request.path_parameters.merge(request.query_parameters.merge(:format => :xml))) %>" />
<% end %>