<% title t "New House" %>

<% unless @empties.empty? %>
  Empty disctionary fields:
  <%= @empties %>
<p><%= link_to "Add Taggabes", new_taggable_path %> or <%= link_to "Setup", setup_path %></p>

<% else %>
<%= render :partial => 'form' %>
<% end %>
<p><%= link_to t("back_to_list"), houses_path %></p>
