<% title t('admin.new_house') %>

<% unless @empties.empty? %>
  <%= t("Üres szótár elemek") %>:
  <%= @empties %>
<p><%= link_to t("add_taggables"), new_taggable_path %> <%= t :or %> <%= link_to t("Setup"), setup_path %></p>

<% else %>
<%= render :partial => 'form' %>
<% end %>
<p><%= link_to t("back_to_list"), houses_path %></p>
