<% if controller.action_name != 'print' %>
<a name="details"></a>
<% end %>
<% title ([@house.house_type, @house.code, @house.city].join(', ') ), false %>
<div class="inner">
<div class="mini">
<%= render :partial => 'mini', :locals => { :house => @house, :cycle_class => '' } %>
<% unless controller.action_name == 'print' %>
<%= render :partial => 'navigation' , :locals => { :house => @house }%>
<% end %>
</div>  
<% field_set_tag t('house_basics'), :class => 'fullwidth' do %>
    <% field = Taggable.find_by_position(6)
     tagnames = [] %>
    <p>
      <%= label_tag field.name %>:
	<% for tag in field.tags %>
          <% tagnames << tag.name if @house.tags.include?(tag) %>
	<% end %>
      <%= tagnames.join(', ') %>
    </p>
    <p>
      <%= label_tag t(:house_description) %>:<br />
      <%= text_area_tag :house_description, @house.house_description, :disabled => true  %>
    </p>
    <% field = Taggable.find_by_position(80)
     tagnames = [] %>
    <p>
      <%= label_tag field.name %>:
	<% for tag in field.tags %>
          <% tagnames << tag.name if @house.tags.include?(tag) %>
	<% end %>
      <%= unless tagnames.empty? 
	tagnames.join(', ')
      else
	t('house_not_in_any_group')
      end %>
    </p>
  <% end %>
  <% field_set_tag t('house_rooms') do %>
    <% for field in Taggable.find_all_by_position([8, 9, 10, 11])
      tagnames = [] %>
      <% for tag in field.tags %>
	<% tagnames << tag.name if @house.tags.include?(tag) and tag.name != t('nincs') %>
      <% end %>
      <% unless tagnames.empty? %>
	<p class="full">
	  <%= label_tag field.name %>:
	  <%= tagnames.join(', ') %>
	</p>
      <% end %>
    <% end %>
    <% for field in %w(living_room_sq living_dining_room_sq kitchen_sq dining_room_sq kitchen_dining_room_sq terrace_sq balcony_sq yard_sq) %>
      <% unless @house[field].nil? or @house[field] == '0' %>
      <p>
        <%= label_tag t(field) %>:
        <%=h @house[field] %> <%= t(:sqmeter) %>
      </p>
      <% end %>
    <% end %>
    <% for field in %w(bedroom living_room living_dining_room kitchen dining_room kitchen_dining_room balcony) %>
      <% unless @house[field].nil? or @house[field]<2 %>
      <p>
        <%= label_tag t(field) %>:
        <%=h @house[field] %> <%= t(:items) %>
      </p>
      <% end %>
    <% end %>
    <p>
      <%= label_tag t(:terrace_id) %>:
      <%=h @house.terrace %>
    </p>
    <% if @house.garden? %>
    <p>
      <%= label_tag t(:garden) %>:
      <%= check_box_tag @house.garden, 1, @house.garden?, :disabled => true %>
    </p>
  <% end %>
  <% end %>
  <% field_set_tag t('house_beds'), :class => :half do %>
    <% for field in %w(double_bed single_bed extra_bed pull_out_bed) %>
      <% unless @house[field].nil? or @house[field] == 0 %>
	<p>
	  <%= label_tag t(field) %>:
	  <%=h @house[field] %> <%= t(:items) %>
	</p>
      <% end %>
    <% end %>
  <% end %>
  <% field_set_tag t('house_bathrooms') do %>
    <p>
      <%= label_tag t(:bathrooms) %>:
      <%=h @house.bathrooms %> <%= t(:items) %>
    </p>
    <% for field in %w(shower bathtub) %>
    <% if @house[field]==1 %>
    <p>
      <%= label_tag t(field) %>:
      <%= check_box_tag @house[field], 1, @house[field]==1, :disabled => true %>
    </p>
    <% end %>
    <% end %>
    <p>
      <%= label_tag t(:wcs) %>:
      <%=h @house.wcs %> <%= t(:items) %>
    </p>
    <% if @house.wc_separated==1 %>
    <p>
      <%= label_tag t(:wc_separated) %>:
      <%= check_box_tag @house.wc_separated, 1, @house.wc_separated==1, :disabled => true %>
    </p>
    <% end %>
  <% end %>
  <% field_set_tag t('house_kitchen') do %>
    <% for field in %w(fridge coffee_machine micro) %>
    <% if @house[field]==1 %>
    <p>
      <%= label_tag t(field) %>:
      <%= check_box_tag @house[field], 1, @house[field]==1, :disabled => true %>
    </p>
    <% end %>
    <% end %>
    <p>
      <%= label_tag t(:stove_id) %>:
      <%= @house.stove %>
    </p>
  <% end %>
  <% field_set_tag t('house_inters'), :class => :half  do %>
    <% for field in %w(sat internet) %>
    <% if @house[field]==1 %>
    <p>
      <%= label_tag t(field) %>:
      <%= check_box_tag @house[field], 1, @house[field]==1, :disabled => true %>
    </p>
    <% end %>
    <% end %>
    <% if @house.clima != t('nincs') %>
    <p>
      <%= label_tag t(:clima_id) %>:
      <%= @house.clima %>
    </p>
  <% end %>
  <% end %>
  <% field_set_tag t('house_outers') do %>
    <% if @house.pool? %>
    <p>
      <%= label_tag t(:pool) %>:
      <%= check_box_tag :pool, 1, @house.pool?, :disabled => true %>
    </p>
    <div id="pool_sq"<%= "style='display:none'" unless @house.pool? %>>
      <p>
	<%= label_tag t(:pool_sq) %>:
	<%=h @house.pool_sq %> <%= t(:sqmeter) %>
      </p>
    </div>
    <% end %>
    <% for field in %w(garden_seats grill sunbath_seat playground) %>
    <% if @house[field]==1 %>
    <p>
      <%= label_tag t(field) %>:
      <%= check_box_tag @house[field], 1, @house[field]==1, :disabled => true %>
    </p>
    <% end %>
    <% end %>
    <p>
      <%= label_tag t(:parking_id) %>:
      <%= @house.parking %>
    </p>
  <% end %>
  <% field_set_tag t('house_distances'), :class => :third do %>
    <p>
      <%= label_tag t(:distance_center) %>:
      <%=h @house.distance_center %> m
    </p>
    <p>
      <%= label_tag t(:distance_beach) %>:
      <%=h @house.distance_beach %> m
    </p>
    <p>
      <%= label_tag t(:distance_aquapark) %>:
      <%=h @house.distance_aquapark %> m
    </p>
    <p>
      <%= label_tag t(:distance_shop) %>:
      <%=h @house.distance_shop %> m
    </p>
    <p>
      <%= label_tag t(:distance_station) %>:
      <%=h @house.distance_station %> m
    </p>
    <p>
      <%= label_tag t(:distance_medical) %>:
      <%=h @house.distance_medical %> m
    </p>
    <p>
      <%= label_tag t(:distance_mainroad) %>:
      <%=h @house.distance_mainroad %> m
    </p>
    <p>
      <%= label_tag t(:distance_restaurant) %>:
      <%=h @house.distance_restaurant %> m
    </p>
  <% end %>
  <% field_set_tag t('house_owner_infos'), :class => 'fullwidth' do %>
    <% field = Taggable.find_by_position(61)
    tagnames = [] %>
    <% for tag in field.tags %>
      <% tagnames << tag.name if @house.tags.include?(tag) %>
    <% end %>
    <% unless tagnames.empty? %>
    <p>
      <%= label_tag field.name %>:
      <%= tagnames.join(', ') %>
    </p>
    <% end %>
    <p>
      <%= label_tag t(:owner_place_id) %>:
      <%= @house.owner_place %>
    </p>
  <% end %>
  <% if @house.animals? %>
  <% field_set_tag t('animals') do %>
    <p>
      <%= label_tag t(:animals) %>:
      <%= check_box_tag :animals, 1, @house.animals?, :disabled => true %>
    </p>
    <div id="animal_charge"<%= "style='display:none'" unless @house.animals? and @house.animal_charge != 0 %>>
      <p>
	<%= label_tag t(:animal_charge) %>:
	<%=h @house.animal_charge %> <%= t(:euro) %>
      </p>
    </div>
  <% end %>
  <% end %>
  <% field_set_tag t('house_price') do %>
  <p>Mietpreis pro Haus und Woche in Euro</p>
  <table class="full">
  <thead>
  <th> vom </th>
  <th> bis </th>
  <th> bei Belegung mit bis zu </th>
  <th> Mietpreis </th>
  </thead>
  <tbody>
  <% for season in Season.last_year %>
    <tr>
    <td><%=h season.start %></td>
    <td><%=h season.end %></td>
    <td>6 <%= t(season.name) %></td>
    <td><%=h @house.price(season.name) %> EUR</td>
    </tr>
  <% end %>
  </tbody>
  </table>
  <% end %>
  <% if admin? or @house.discounted? %>
  <% field_set_tag t('house_description'), :class => 'fullwidth' do %>
    <% if @house.discounted? %>
    <p>
      <%= label_tag t(:discounted) %> :
      <%= check_box_tag :discounted, 1, @house.discounted?, :disabled => true %>
    </p><br />
    <p>
      <%= text_area_tag :discount, @house.discount.description, :disabled => true %>
    </p>
    <% end %>
    <% if admin? %>
    <p>
      <%= label_tag t(:admin_description) %>:<br />
      <%= text_area_tag :admin_description, @house.admin_description, :disabled => true  %>
    </p>
  <% end %>
  <% end %>
  <% end %>
  <% field_set_tag 'Mietbedienungen' do %>
  <p>
  Im Preis bereits enthalten: Battwäsche, Endreinigung, Gas, Strom, Wasser.<br />
  Nebenkosten: Zuschläge (zalhbar bei Buchung): Ortstaxe<br />
  An- und Abreise: Samstags. Mindestanfenhalt 1 Woche. Abweichende An- und
  Abreise sowie kürzere Afenthalte in der Nebensaison auf Anfrage möglich (teilweise
  Mietpreiszuschlag)
  </p>
  <% end %>
  <% if controller.action_name != 'print' %>
  <a name="photos">  </a>
  <% end %>
  <% field_set_tag t('pictures'), :class => 'photos' do %>
    <% @house.picture_urls.each do |id| %>
    <div>
      <%= image_tag id %>
    </div>
    <% end if @house.picture_ids.respond_to?('index') %>
  <% end %>
<% if admin? %>
<p>
  <%= link_to t('admin.edit'), edit_house_path(@house) %> |
  <%= link_to t('admin.destroy'), @house, :confirm => t('admin.are_you_sure'), :method => :delete %> |
  <%= link_to t('admin.view_all'), houses_path %>
</p>
<% end %>
</div>