<%- if controller.action_name != 'print' %>
<a name="details"></a>
<% end -%>
<% title ([@house.house_type, @house.code, @house.city].join(', ') ), false %>
<div class="inner">
<div class="mini odd">
<%= render :partial => 'mini', :locals => { :house => @house, :cart => @cart } %>
<%- unless controller.action_name == 'print' %>
<%= render :partial => 'navigation' , :locals => { :house => @house }%>
<% end -%>
</div>
<% field_set_tag t('house_basics') do %>
  <% content_tag :div, :id => :house_basics do %>
    <%- field = Taggable.find_by_position(6)
     tagnames = [] -%>
    <p><%= label field.field, field.name %>:
      <%- for tag in field.tags do
        tagnames << tag.name if @house.tags.include?(tag)
       end -%>
      <%= tagnames.to_sentence -%>
    </p>
    <%- if @house.discounted? %>
    <p class="red">
      <%= h @house.discount.description %>
    </p>
    <% end -%>
    <%- if root_admin? %>
    <div class="admin">
      <%= label_tag :admin_description, t(:admin_description) %>:<br />
      <%= h @house.admin_description %>
    </div>
    <% end -%>
    <%- unless @house.house_description.nil? -%>
    <p>
      <%= label_tag :house_description, t(:house_description) %>:<br />
      <%= @house.house_description %>
    </p>
    <%- end -%>
    <%- if root_admin?
      field = Taggable.find_by_position(80)
       tagnames = []
       for tag in field.tags do tagnames << tag.name if @house.tags.include?(tag) end -%>
      <p><%= label_tag field.field, field.name %>:  <%= unless tagnames.empty? then tagnames.join(', ') else t('house_not_in_any_group') end -%></p>
    <%- end -%>
  <%- end -%>
<%- end -%>
<%- field_set_tag t('house_rooms'), :class => 'odd' do %>
  <% content_tag :div, :id => :house_rooms do %>
    <%- for field in Taggable.find_all_by_position([8, 9, 10, 11])
      tagnames = []
      for tag in field.tags do tagnames << tag.name if @house.tags.include?(tag) and tag.name != t('nincs') and tag.name != '-'  end -%>
      <%- unless tagnames.empty? -%>
        <p>
        <%= label_tag field.field, field.name %>:
        <%= tagnames.map{|tag| '<span>'+tag+'</span>'}.to_sentence -%>
        </p>
      <%- end -%>
    <%- end -%>
    <%- for field in %w(living_room_sq living_dining_room_sq kitchen_sq dining_room_sq kitchen_dining_room_sq terrace_sq balcony_sq yard_sq) -%>
      <%- unless @house[field].nil? or @house[field] == '0' -%><br class="clear" />
      <p>
        <%= label_tag field, t(field) %>:
        <span><%=h @house[field].split(/;|,/).map{|f| f+' '+t(:sqmeter)}.to_sentence %></span>
      </p>
      <%- end -%>
    <%- end -%>
    <%- for field in %w(bedroom living_room living_dining_room kitchen dining_room kitchen_dining_room balcony) -%>
      <%- unless @house[field].nil? or @house[field]<2 -%><br class="clear" />
      <p>
        <%= label_tag field, t(field) %>:
        <%=h @house[field] %> <%= t(:items) %>
      </p>
      <%- end -%>
    <%- end -%>
    <%- if @house.terrace.to_s != '-' and @house.terrace != t('nincs') -%>
    <p>
      <%= label_tag :terrace_id, t(:terrace_id) %>: <%=h @house.terrace -%>
    </p>
    <%- end -%>
    <%- if @house.garden? -%>
    <p>
      <%= label_tag :garden, t(:garden) %>
    </p>
    <%- end -%>
  <%- end -%>
<%- end -%>
<% field_set_tag nil, :class => 'fullwidth' do %>
  <div id="house_beds">
  <p><%= label_tag 'house_beds', t('house_beds') %>:
  <%- beds = []
  for field in %w(double_bed single_bed extra_bed pull_out_bed)
    unless @house[field].nil? or @house[field] == 0
      beds << @house[field].to_s + ' ' + t(field)
    end
  end %><%= beds.to_sentence %></p>
  <p><%= label_tag 'house_bathrooms', t('house_bathrooms') %>:
  <% baden = []; baden << @house.bathrooms.to_s + ' ' + t(:bathrooms)
  for field in %w(shower bathtub)
    if @house[field]==1
      baden <<  t(field)
    end
  end
  baden << @house.wcs.to_s + ' ' + t(:wcs)
  if @house.wc_separated==1
    baden << t(:wc_separated)
  end %><%= baden.to_sentence %></p><br class="clear"/>
  <p><%= label_tag 'house_kitchen', t('house_kitchen') -%>:
  <%-
  fields = []
  for field in %w(fridge coffee_machine micro) do
     fields << @house[field].to_s + ' ' + t(field) if @house[field]>0
  end %><%= fields.to_sentence %></p>
  <p><%= label_tag :stove_id, t(:stove_id) %>: <%= @house.stove %></p>
<br class="clear"/>
  <p><%= label_tag 'house_inters', t('house_inters') %>:
  <%-
  fields = []
  fields << @house[:sat].to_s + ' ' + t(:sat) if @house[:sat] > 0
  fields << t(:internet) if @house[:internet] == 1
   -%><%= fields.to_sentence %></p>
  <%- if @house.clima !~ /-|nincs/ %>
  <p><%= label_tag :clima_id, t(:clima_id) %>: <%= @house.clima %></p>
  <% end %>
  <p><%= label_tag 'house_outers', t('house_outers') %>:
  <%- if @house.pool? -%>
  <p><%= t(:pool) %></p>
  <div id="pool_sq"<%= "style='display:none'" unless @house.pool? %>>
    <p><%= label_tag :pool_sq, t(:pool_sq) %>: <%=h @house.pool_sq %> <%= t(:sqmeter) %></p>
  </div>
  <%- end -%>
  <%-
  fields = []
  for field in %w(garden_seats grill sunbath_seat playground) do
    if field == "sunbath_seat"
      fields << @house[field].to_s + ' ' + t(field) if @house[field] and @house[field].to_i>1
    else
      fields << t(field) if  @house[field] and @house[field].to_i==1
    end
  end -%>
  <%= fields.to_sentence %></p>
  <p><%= label_tag :parking_id, t(:parking_id) %>: <%= @house.parking %></p>
</div>
<% end %>
<% field_set_tag t('house_distances'), :class => 'full odd' do %>
  <% content_tag :div, :id => 'house_distances' do %>
    <% %w{center beach aquapark shop station medical mainroad restaurant}.each do |item| %>
    <p>
      <span class="label"><%= label_tag "distance_#{item}", t("distance_#{item}") %>:</span>
      <span><%= t('meters', :count => @house.distance(item)) %></span>
    </p>
    <%end %>
  <% end %>
<% end %>
<% field_set_tag t('house_owner_infos') do %>
    <% field = Taggable.find_by_position(61)
    tagnames = [] %>
    <% for tag in field.tags %>
      <% tagnames << tag.name if @house.tags.include?(tag) %>
    <% end %>
    <% unless tagnames.empty? %>
    <p>
      <%= label_tag field.field, field.name %>:
      <%= tagnames.join(', ') %>
    </p>
    <% end %>
    <% unless @house.owner_place_id.nil? %>
    <p>
      <%= label_tag :owner_place_id, t(:owner_place_id) %>:
      <%= @house.owner_place %>
    </p>
<% end %><% end %>
  <% field_set_tag t('animals'), :class => 'odd fullwidth' do %>
    <p>
      <%= label_tag :animals, t(:animals) %>:
      <%= @house.animals? ? t('yes_animals') : t('no_animals') %>
    </p>
    <p<%= " style='display:none'" unless @house.animals? %>>
      <%= label_tag :animal_charge, t(:animal_charge) %>:
      <%= @house.animal_charge == 1 ? t('answer_yes') : t('answer_no') %>
    </p>
  <% end %>
<% field_set_tag t('house_prices') do %>
<% content_tag :div, :id => :house_prices do %>
  <p style="width:100%"><%= t(:house_prices_info) %></p>
  <br />
  <table>
  <thead>
  <tr>
  <th><%= t(:house_prices_from) %></th>
  <th><%= t(:house_prices_to) %></th>
  <th><%= t(:house_prices_with) %></th>
  <th><%= t(:house_prices_season) %></th>
  <th><%= t(:house_prices_price) %></th>
  </tr>
  </thead>
  <tbody>
  <%- for season in Season.next_year %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%=l(season.start) %></td>
    <td><%=l(season.end) %></td>
    <td><%= @house.persons %></td>
    <td><%= t(season.name) %></td>
    <td><%=h @house.formatted_price(season.name) %> &euro;</td>
    </tr>
  <%- end %>
  </tbody>
  </table>
  <%- end %>
  <%- end %>
  <%- field_set_tag t(:house_prices_includes), :class => 'odd' do %>
  <p><%= t(:house_prices_includes_info) %></p>
<% end %>
<% if controller.action_name != 'print' %>
  <a name="photos"></a>
<% end %>
<% field_set_tag t('pictures'), :class => 'photos' do %>
  <% content_tag :div, :id => :pictures do %>
    <% if @house.picture_ids.respond_to?('index')
      @house.picture_urls('m').each_with_index do |id,index| %>
        <% link_to_lightbox2 id.sub(/_m/,'_l'), :group => @house.code, :title => "#{@house.code} ##{index+1}" do %>
          <%= image_tag id %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  
<% if root_admin? %>
<p>
  <%= link_to t('admin.edit'), edit_house_path(@house) %> |
  <%= link_to t('admin.destroy'), @house, :confirm => t('admin.are_you_sure'), :method => :delete %> |
  <%= link_to t('admin.view_all'), houses_path %>
</p>
<% end %>
</div>
