<% title "Események" %>

<%= will_paginate @event_logs, :previous_label => t(:prev_link, :locale => :hu), :next_label => t(:next_link, :locale => :hu) %>
<table>
<thead>
<tr>
<th>Dátum</th>
<th>Művelet</th>
</tr>
</thead>
<tbody>
<% for log in @event_logs %>
<tr class="<%= cycle('odd', 'even') %>">
<td><%= log.created_at %></td>
<td><%= log.action %></td>
</tr>
<%end %>
</tbody>
</table>
<%= will_paginate @event_logs, :previous_label => t(:prev_link, :locale => :hu), :next_label => t(:next_link, :locale => :hu) %>
