<div id="flash_error"><%= t(:booking_warning) %></div>
<% form_for @booking do |f| %>
  <%= f.error_messages %>
  <div id="flash_notice"><%= t(:booking_hint) %></div>
  <% field_set_tag t('booking_details') do %>
    <% if @houses.size > 0 %>
      <%= label_tag t('selected_houses', :count => @houses.size) %>:
      <ul id="houses_bookings">
      <% for house in @houses do %>
        <% content_tag_for :li, house do %>
          <%= render :partial => 'houses/stamp', :locals => { :house => house, :last => (@houses.last == house), :open => false} %>
          <% f.fields_for 'houses[]', house do |hb_form| %>
            <% if @houses.size > 1 %>
              <div class="handle">[drag] <%= hb_form.label t(:code) %></div>
            <% else %>
              <div class=""><%= hb_form.label t(:code) %></div>
            <% end %>
            <%= hb_form.text_field :code, :size => 20 %>
          <% end %>
        <% end %>
      <% end %>
      </ul>
      <% if @houses.size > 1 %>
        <%= sortable_element('houses_bookings', :url => sort_bookings_path, :constraint => 'horizontal', :handle => 'handle') %>
      <% end %>
<br class="clear" />
    <% else %>
      <% f.fields_for 'houses[]', House.new do |hb_form| %>
        <div id="houses_bookings" class="span-6 append-13">
          <%= label_tag t('selected_houses', :count => @houses.size) %>:<br />
          <%= hb_form.text_field_with_auto_complete :code, { :size => 20, :class => 'code' }, { :url => houses_path(:format => :js), :method => :get, :param_name => 'search[conditions][code_like]', :with => "value + '&autocomplete=1'", :indicator => :house_spinner } %>
          <img id="house_spinner" src="/images/active_scaffold/default/indicator.gif" style="display:none">
          <div id="house_stamp"></div>
        </div>
      <% end %>
    <% end %>
    <% if action_name != 'new' and admin? %>
      <div class="span-6 admin">
        <%= f.label t(:status) %><br />
        <%= f.select :status, @booking.states %>
      </div>
    <% end %>
    <% [ :persons_count, :children_count, :children_years ].each do |field| %>
      <div class="span-6">
        <%= f.label t(field) %><br />
        <%= f.text_field field.to_s.sub(/_count/,''), :size => 25 %>
      </div>
    <% end %>
    <div class="span-6">
      <%= f.label t(:with_animals) %>
      <div>
      <%= t(:answer_yes) %><%= f.radio_button :with_animals, 1, :checked => (@booking and @booking.with_animals), :onchange => "if ($('booking_with_animals_1').checked) Form.Element.enable($('booking_animal_details'))" %>
      <%= t(:answer_no) %><%= f.radio_button :with_animals, 0, :checked => ((@booking and not @booking.with_animals) or @booking.nil?), :onchange => "if ($('booking_with_animals_0').checked) Form.Element.disable($('booking_animal_details'))"  %>
      </div>
    </div>
    <div class="span-6">
      <%= f.label t(:animal_details) %><a class="info" name="animal_info" title="Anzahl und Tierart der mitfahrenden Haustiere. Bei Hunden bitte Rasse und ca. kg angeben."> i </a><br />
      <%= f.text_field :animal_details, :size => 30, :disabled => (@booking.nil? or not @booking.with_animals?) %>
    </div>
    <hr />
    <p>Ich reserviere obiges Fehrienhaus für folgenden Zeitraum:</p>
    <div class="span-6">
      <%= f.label t(:from) %><br />
      <%= f.calendar_date_select :from, :valid_date_check => "date >= new Date()", :size => 20, :onChange =>
  'var ONE_DAY = 1000 * 60 * 60 * 24;
  from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
  $("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
    </div>
    <div class="span-6">
      <%= f.label t(:to) %><br />
      <%= f.calendar_date_select :to, :valid_date_check => "date > new Date()", :size => 20, :onChange =>
  'var ONE_DAY = 1000 * 60 * 60 * 24;
  from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
  $("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
    </div>
    <div class="span-6">
      <%= f.label t(:nights) %><br />
      <%= f.text_field :nights, :size => 20, :readonly => "true", :value => (@booking.new_record? ? '0' : @booking.nights.to_i), :disabled => true %>
    </div>
    <div class="span-16">
      <%= f.label t(:calculated_price) %><br />
      <%= f.text_field :price, :size => 20, :readonly => "true" %> EURO<br />
      <%= button_to_remote 'Calculate Price', :url => :calculate, :with => "'persons=' + $('booking_persons').value + '&from=' + $('booking_from').value + '&to=' + $('booking_to').value + '&codes=' + $('houses_bookings').select('input').pluck('value') + '&animals=' + $('booking_with_animals_1').checked" %>
    </div>
    <div class="span-18">
    Im Preis bereit enthalten: Bettwäsche, Endreinigung, Gas, Strom, Wasser<br />Nebenkosten: Zuschläge (zahlbar bei Buchung): Ortstaxe
    </div>
  <% end %>
  <% field_set_tag t('contact_data') do %>
    <div class="span-6">
      <%= f.label t(:salut) %><br />
      <%= f.select :salut, ['Frau', 'Herr', 'Frima'] %>
    </div>

    <% [ :firstname, :lastname, :company, :address, :city, :postcode].each do |field| %>
      <div class="span-6">
        <%= f.label t(field) %><br />
        <%= f.text_field field, :size => 25 %>
      </div>
    <% end %>
    <div class="span-6">
      <%= f.label t(:country) %><br />
      <%= localized_country_select(:booking, :country, [], :include_blank => t('select_country'), :width => 25) %>
    </div>
    <% [ :phone, :mobile, :email, :fax ].each do |field| %>
      <div class="span-6">
        <%= f.label t(field) %><br />
        <%= f.text_field field, :size => 25 %>
      </div>
    <% end %>
    <div class="clear span-18 prepend-top">
      <%= f.label t(:notes) %><br />
      <%= f.text_area :notes, :rows => 4 %>
    </div>
  <% end %>
<br />
  <div class="span-4"><%= f.submit t("booking_submit") %></div>
<% end %>
<div class="span-4"><%= button_to t("cancel_booking"), :houses, :method => 'get' %></div>
