<% form_for @booking do |f| %>
  <%= f.error_messages %>
  <div id="stamps">
  <% for house in @houses do %>
    <div id="house_<%= house.id %>">
    <%= render :partial => 'houses/stamp', :locals => { :house => house} %>
    </div>
  <% end %>
  </div>
<br class="clear" />
  <p>
    <%= f.label :from %><br />
    <%= date_select f, :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= date_select f, :to %>
  </p>
  <p>
    <%= f.label :nights %><br />
    <%= f.text_field :nights %>
  </p>
  <p>
    <%= f.label :persons %><br />
    <%= f.text_field :persons %>
  </p>
  <p>
    <%= f.label :with_animals %><br />
    <%= f.check_box :with_animals %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
