<div id="flash_error"><%= t(:booking_warning) %></div>
<% form_for @booking do |f| %>
  <%= f.error_messages %>
  <ul id="houses_bookings">
  <% for house in @houses do %>
    <% content_tag_for :li, house do %>
    <%= render :partial => 'houses/stamp', :locals => { :house => house, :last => (@houses.last == house)} %>
    
    <% f.fields_for :houses_bookings, house do |hb_form| %>
      <div class="handle">[drag] <%= hb_form.label t(:code) %></div>
      <%= hb_form.text_field :code %>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <% if @houses.size > 1 %>
  <%= sortable_element('houses_bookings', :url => sort_bookings_path, :constraint => 'horizontal', :handle => 'handle') %>
  <% end %>
<hr class="clear" />
<div id="flash_notice"><%= t(:booking_hint) %></div>

<br class="clear" />
<% field_set_tag t('booking_details') do %>
  <% if action_name != 'new' and admin? %>
  <div class="span-6">
    <%= f.label t(:status) %><br />
    <%= f.select :status, @booking.states %>
  </div>
  <% end %>
  <div class="span-6">
    <%= f.label t(:from) %><br />
    <%= f.calendar_date_select :from, :valid_date_check => "date >= new Date()", :size => 20, :onChange =>
'var ONE_DAY = 1000 * 60 * 60 * 24;
from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
$("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
  </div>
  <div class="span-6">
    <%= f.label t(:to) %><br />
    <%= f.calendar_date_select :to, :valid_date_check => "date > new Date()", :size => 20, :onChange =>
'var ONE_DAY = 1000 * 60 * 60 * 24;
from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
$("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
  </div>
  <div class="span-6">
    <%= f.label t(:nights) %><br />
    <%= f.text_field :nights, :size => 20, :value => (@booking.new_record? ? '0' : @booking.nights), :disabled => true %>
  </div>
  <div class="span-6">
    <%= f.label t(:persons) %><br />
    <%= f.text_field :persons, :size => 20 %>
  </div>
  <div class="span-6">
    <%= f.label t(:with_animals) %>
    <%= f.check_box :with_animals %>
  </div>
  <div class="clear span-18 prepend-top">
    <%= f.label t(:notes) %><br />
    <%= f.text_area :notes, :rows => 8 %>
  </div>
<% end %>
<% field_set_tag t('contact_data') do %>
  <div class="span-5 append-1">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:mobile) %><br />
    <%= f.text_field :mobile, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:email) %><br />
    <%= f.text_field :email, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:firstname) %><br />
    <%= f.text_field :firstname, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:lastname) %><br />
    <%= f.text_field :lastname, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:company) %><br />
    <%= f.text_field :company, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:address) %><br />
    <%= f.text_field :address, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:city) %><br />
    <%= f.text_field :city, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:postcode) %><br />
    <%= f.text_field :postcode, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:country) %><br />
    <%= f.text_field :country, :size => 25 %>
  </div>
<% end %>
<div class="span-4"><%= f.submit t("booking_submit") %></div>
<% end %>
<div class="span-4"><%= button_to t("cancel_booking"), :houses, :method => 'get' %></div>
