<!-- % content_for :head do %-->
<!--% end %-->
<% form_for @booking do |f| %>
  <%= f.error_messages %>

  <ul id="houses_bookings">
  <% for house in @houses do %>
    <% content_tag_for :li, house do %>
    <span class="handle">[drag]</span> 
    <%= render :partial => 'houses/stamp', :locals => { :house => house, :last => (@houses.last == house)} %>
    <% end %>
  <% end %>
  </ul>
  <%= sortable_element('houses_bookings', :url => sort_bookings_path, :constraint => 'horizontal', :handle => 'handle') %>  
<hr class="clear" />
<p><%= t(:booking_hint) %></p>
<br class="clear" />
<% field_set_tag t('booking_details') do %>
  <% if action_name != 'new' and admin? %>
  <div class="span-6">
    <%= f.label t(:status) %><br />
    <%= f.select :status, @booking.states %>
  </div>
  <% end %>
  <div class="span-6">
    <%= f.label t(:from) %><br />
    <%= f.calendar_date_select :from, :valid_date_check => "date >= new Date()", :size => 25, :onChange => 
'var ONE_DAY = 1000 * 60 * 60 * 24;
from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
$("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
  </div>
  <div class="span-6">
    <%= f.label t(:to) %><br />
    <%= f.calendar_date_select :to, :valid_date_check => "date > new Date()", :size => 25, :onChange => 
'var ONE_DAY = 1000 * 60 * 60 * 24;
from=new Date($("booking_from").value.gsub("-","/"));to=new Date($("booking_to").value.gsub("-","/"));
$("booking_nights").value=parseInt(to-from)/ONE_DAY' %>
  </div>
  <div class="span-6">
    <%= f.label t(:nights) %><br />
    <%= f.text_field :nights, :size => 25, :value => (@booking.new_record? ? '0' : @booking.nights), :disabled => true %>
  </div>
  <div class="span-6">
    <%= f.label t(:persons) %><br />
    <%= f.text_field :persons, :size => 25 %>
  </div>
  <div class="span-6">
    <%= f.label t(:with_animals) %><br />
    <%= f.check_box :with_animals %>
  </div>
  <div class="clear span-18">
    <%= f.label t(:notes) %><br />
    <%= textile_editor :booking, :notes %>
  </div>
<% end %>
<% field_set_tag t('contact_data') do %>
  <div class="span-6">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="span-6">
    <%= f.label t(:mobile) %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="span-6">
    <%= f.label t(:email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="span-6">
    <%= f.label t(:firstname) %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="span-6">
    <%= f.label t(:lastname) %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="span-6">
    <%= f.label t(:company) %><br />
    <%= f.text_field :company %>
  </div>
  <div class="span-6">
    <%= f.label t(:address) %><br />
    <%= f.text_field :address %>
  </div>
  <div class="span-6">
    <%= f.label t(:city) %><br />
    <%= f.text_field :city %>
  </div>
  <div class="span-6">
    <%= f.label t(:postcode) %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="span-6">
    <%= f.label t(:country) %><br />
    <%= f.text_field :country %>
  </div>
<% end %>
<div class="span-4"><%= f.submit t("booking_submit"), :class => 'wymupdate' %></div>
<% end %>
<div class="span-4"><%= button_to t("cancel_booking"), :houses, :method => 'get' %></div>
  <%= textile_editor_initialize %>

