<% form_for @booking do |f| %>
  <%= f.error_messages %>

  <div id="stamps">
  <% for house in @houses do %>
    <%= render :partial => 'houses/stamp', :locals => { :house => house, :last => (@houses.last == house)} %>
  <% end %>
  </div>
<hr class="clear" />
<p><%= t(:booking_hint) %></p>
<br class="clear" />
<% field_set_tag t('booking_details') do %>
  <% if action_name != 'new' %>
  <div class="span-6">
    <%= f.label t(:status) %><br />
    <%= f.select :status, @booking.states %>
  </div>
  <% end %>
  <div class="span-6">
    <%= f.label t(:from) %><br />
    <%= f.calendar_date_select :from, :valid_date_check => "date >= new Date()", :size => 15 %>
  </div>
  <div class="span-6">
    <%= f.label t(:to) %><br />
    <%= f.calendar_date_select :to, :valid_date_check => "date > new Date()", :size => 15 %>
  </div>
  <div class="span-6">
    <%= f.label t(:nights) %><br />
    <%= f.text_field :nights, :size => 15 %>
  </div>
  <div class="span-6">
    <%= f.label t(:persons) %><br />
    <%= f.text_field :persons, :size => 15 %>
  </div>
  <div class="span-6">
    <%= f.label t(:with_animals) %><br />
    <%= f.check_box :with_animals %>
  </div>
  <div class="clear span-18">
    <%= f.label t(:notes) %><br />
    <%= f.text_area :notes, :rows => 5, :cols => 60 %>
  </div>
<% end %>
<% field_set_tag t('contact_data') do %>
  <div>
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label t(:mobile) %><br />
    <%= f.text_field :mobile %>
  </div>
  <div>
    <%= f.label t(:email) %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label t(:firstname) %><br />
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label t(:lastname) %><br />
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label t(:company) %><br />
    <%= f.text_field :company %>
  </div>
  <div>
    <%= f.label t(:address) %><br />
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label t(:city) %><br />
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label t(:postcode) %><br />
    <%= f.text_field :postcode %>
  </div>
  <div>
    <%= f.label t(:country) %><br />
    <%= f.text_field :country %>
  </div>
<% end %>
<div class="span-4"><%= f.submit t("booking_submit") %></div>
<% end %>
<div class="span-4"><%= button_to t("cancel_booking"), :houses, :method => 'get' %></div>
