<% title t("Bookings") %>
<% form_for @search do |f| %>
Válassz apartmant:
  <%= text_field_with_auto_complete 'search', 'code', { :size => 20, :class => 'code' }, { :url => houses_path(:format => :js), :method => :get, :param_name => 'search[conditions][code_like]', :with => "value + '&autocomplete=1'", :indicator => :house_spinner } %>
  <img id="house_spinner" src="/images/active_scaffold/default/indicator.gif" style="display:none">
  <div id="house_stamp"></div>
<div class="span-4"><%= f.submit t("admin.submit") %></div>
<% end %>
<hr />
<%= event_calendar %>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Nights</th>
    <th>Persons</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>City</th>
  </tr>
  <% for hb in @bookings %>
    <tr>
      <td><%=h hb.start_at %></td>
      <td><%=h hb.end_at %></td>
      <td><%=h hb.nights %></td>
      <td><%=h hb.booking.persons %></td>
      <td><%=h hb.booking.firstname %></td>
      <td><%=h hb.booking.lastname %></td>
      <td><%=h hb.booking.city %></td>
      <td><%= link_to t("admin.show"), hb.booking %></td>
      <td><%= link_to t("admin.edit"), edit_booking_path(hb.booking) %></td>
      <td><%= link_to t("admin.destroy"), hb.booking, :confirm => t('Are you sure?'), :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t("admin.new_booking"), new_houses_booking_path %></p>
