<% title t("admin.booking") %>
<p>
  <%= link_to_if (root_admin? or @houses_booking.owner == current_user), t("admin.edit"), edit_booking_path(@booking) %> |
  <%= link_to_if (root_admin? or @houses_booking.owner == current_user), t("admin.destroy"), @booking, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t("admin.view_all"), houses_bookings_path %>
</p>

<p>
  <strong><%= t('admin.booking_code')%>:</strong>
  <%= @booking.code %>
</p>
<p>
  <strong><%= t('admin.house')%>:</strong>
  <%= houses_links(@booking.houses) %>
</p>
<p>
  <strong>Ár:</strong>
  <%= @booking.houses_bookings.map {|hb| hb.formatted_price + ' EUR'}.to_sentence %>
</p>
<p>
  <strong>Rögzítette:</strong>
  <%= if @houses_booking.owner then @houses_booking.owner.username else '[bejövő előjegyzés: ' + (@houses_booking.booking ? @houses_booking.booking.email : '') + ']' end  %>
</p>
<p>
  <strong><%= t('admin.status')%>:</strong>
  <%= @houses_booking.status unless @houses_booking.status_id.nil? %>
</p>
<p>
  <strong>Létrehozva:</strong>
  <%=h @houses_booking.created_at %>
</p>
<p>
  <strong>Utolsó módosítás:</strong>
  <%=h @houses_booking.updated_at %>
</p>
<p>
  <strong>Admin megjegyzés:</strong>
  <%=h @houses_booking.notes %>
</p>
<p>
  <strong><%= t('admin.from') %>:</strong>
  <%=h @houses_booking.start_at if @houses_booking.respond_to?(:start_at) %>
</p>
<p>
  <strong><%= t('admin.to') %>:</strong>
  <%=h @houses_booking.end_at if @houses_booking.respond_to?(:end_at) %>
</p>
<p>
  <strong><%= t('admin.nights') %>:</strong>
  <%=h @booking.nights %>
</p>
<p>
  <strong><%= t('admin.persons') %>:</strong>
  <%=h @booking.persons %>
</p>
<p>
  <strong>Gyerekek száma:</strong>
  <%=h @booking.children %>
</p>
<p>
  <strong>Gyerekek életkora:</strong>
  <%=h @booking.children_years %>
</p>
<p>
  <strong><%= t('admin.with_animals') %>:</strong>
  <%=h @booking.with_animals ? 'igen' : 'nem' %>
</p>
<p>
  <strong>Állatok fajtája, mérete:</strong>
  <%=h @booking.animal_details %>
</p>
<p>
  <strong><%= t('admin.notes') %>:</strong>
  <%= h @booking.notes %>
</p>
<p>
  <strong><%= t('admin.phone') %>:</strong>
  <%=h @booking.phone %>
</p>
<p>
  <strong><%= t('admin.mobile') %>:</strong>
  <%=h @booking.mobile %>
</p>
<p>
  <strong><%= t('admin.email') %>:</strong>
  <%=h @booking.email %>
</p>
<p>
  <strong>Megszólítás:</strong>
  <%=h @booking.salut %>
</p>
<p>
  <strong><%= t('admin.firstname') %>:</strong>
  <%=h @booking.firstname %>
</p>
<p>
  <strong><%= t('admin.lastname') %>:</strong>
  <%=h @booking.lastname %>
</p>
<p>
  <strong><%= t('admin.company') %>:</strong>
  <%=h @booking.company %>
</p>
<p>
  <strong><%= t('admin.address') %>:</strong>
  <%=h @booking.address %>
</p>
<p>
  <strong><%= t('admin.city') %>:</strong>
  <%=h @booking.city %>
</p>
<p>
  <strong><%= t('admin.postcode') %>:</strong>
  <%=h @booking.postcode %>
</p>
<p>
  <strong><%= t('admin.country') %>:</strong>
  <%=h @booking.country_name %>
</p>
<p>
  <%= link_to_if (root_admin? or @houses_booking.owner == current_user), t("admin.edit"), edit_booking_path(@booking) %> |
  <%= link_to_if (root_admin? or @houses_booking.owner == current_user), t("admin.destroy"), @booking, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t("admin.view_all"), houses_bookings_path %>
</p>
