<% title t("Booking") %>

<p>
  <strong><%= t(:status)%>:</strong>
  <%=h @booking.status %>
</p>
<p>
  <strong><%= t(:from) %>:</strong>
  <%=h @booking.from %>
</p>
<p>
  <strong><%= t(:to) %>:</strong>
  <%=h @booking.to %>
</p>
<p>
  <strong><%= t(:nights) %>:</strong>
  <%=h @booking.nights %>
</p>
<p>
  <strong><%= t(:persons) %>:</strong>
  <%=h @booking.persons %>
</p>
<p>
  <strong><%= t(:with_animals) %>:</strong>
  <%=h @booking.with_animals %>
</p>
<p>
  <strong><%= t(:notes) %>:</strong>
  <%= RedCloth.new(@booking.notes).to_html %>
</p>
<p>
  <strong><%= t(:phone) %>:</strong>
  <%=h @booking.phone %>
</p>
<p>
  <strong><%= t(:mobile) %>:</strong>
  <%=h @booking.mobile %>
</p>
<p>
  <strong><%= t(:email) %>:</strong>
  <%=h @booking.email %>
</p>
<p>
  <strong><%= t(:firstname) %>:</strong>
  <%=h @booking.firstname %>
</p>
<p>
  <strong><%= t(:lastname) %>:</strong>
  <%=h @booking.lastname %>
</p>
<p>
  <strong><%= t(:company) %>:</strong>
  <%=h @booking.company %>
</p>
<p>
  <strong><%= t(:address) %>:</strong>
  <%=h @booking.address %>
</p>
<p>
  <strong><%= t(:city) %>:</strong>
  <%=h @booking.city %>
</p>
<p>
  <strong><%= t(:postcode) %>:</strong>
  <%=h @booking.postcode %>
</p>
<p>
  <strong><%= t(:country) %>:</strong>
  <%=h @booking.country %>
</p>

<p>
  <%= link_to t("Edit"), edit_booking_path(@booking) %> |
  <%= link_to t("Destroy"), @booking, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t("View All"), bookings_path %>
</p>
