<% form_for user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t('admin.username') %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label t('admin.email') %><br />
    <%= f.text_field :email %>
  </p>
  <%- if root_admin? -%>
  <p>
    <%= f.label t('admin.password') %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label t('admin.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label t('admin.role') %><br />
    <%= f.text_field :role %>
  </p>
  <% end %>
  <p><%= f.submit t('admin.submit') %></p>
<% end %>
