<% form_for page do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t('admin.path') %><br />
    <%= f.text_field :path, :readonly => true %>
  </p>
  <p>
    <%= f.label t('admin.title') %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label t('admin.published') %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label t('admin.body') %><br />
    <%= fckeditor_textarea(:page, :body, :toolbarSet => 'Easy', :width => '100%', :height => '100%') %>
  </p>
  <p><%= f.submit t('admin.submit') %></p>
<% end %>
