<% title t('admin.tags') %>

<table>
  <tr>
    <th><%= t('admin.name') %></th>
  </tr>
  <% for tag in @tags %>
    <tr>
      <td><%=h tag.name %></td>
      <td><%= link_to t('admin.show'), tag %></td>
      <td><%= link_to t('admin.edit'), edit_tag_path(tag) %></td>
      <td><%= link_to t('admin.destroy'), tag, :confirm => t('admin.are_you_sure'), :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('admin.new_tag'), new_tag_path %></p>
