<% title t('admin.tag') %>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%=h @tag.name %>
</p>

<p>
  <%= link_to t('admin.edit'), edit_tag_path(@tag) %> |
  <%= link_to t('admin.destroy'), @tag, :confirm => t('admin.are_you_sure'), :method => :delete %> |
  <%= link_to t('admin.view_all'), tags_path %>
</p>
