<%- title t(:home), false -%>
<div class="categories">
<%- @categories[0..7].each_with_index do |category, index| %>
 <div class="category<%= ' last' if (index%4==3) %>">
  <span class="title"><%= link_to h(category[:name]), :controller => :houses, :action => :index, :commit => '', :category => category[:name] %></span>
<%- unless category[:house].nil? or category[:house].picture_ids.nil? -%>
<%- link_to category[:house] do -%>
  <%= image_tag category[:house].picture_urls('s')[0], :alt => category[:name] -%>
<%- end -%>
<%- end -%>
  <div class="item details">
<%=
unless category[:house].nil?
  if category[:house].discount.nil?
    price = category[:house].price(Season.which_season?(Date.today)).to_s
    persons = category[:house].persons.to_s + (category[:house].children > 0 ? '+' + category[:house].children.to_s : '')
    price + ' ' + t(:price_persons, :persons => persons)
  else
    truncate( category[:house].discount.description, :length => 40 )
  end
end -%>
 </div></div>
<%- end -%>
</div>
<br class="clear" />
<h3><%= t(:tagestip) %></h3>
<div id="carousel" class="photos">
<div class="previous_button"></div>
  <div class="container">
<%- for house in @pictures do -%>
  <div class="slide"><%- link_to :controller => 'houses', :action => 'show', :id => house.id, :anchor => 'details' do -%>
  <%- if house.thumb -%>
    <%= image_tag house.thumb -%>
  <%- else -%>
    <%= t('no_picture') -%>
  <%- end -%><br />
  <span class="field"><%= persons = house.persons.to_s + (house.children > 0 ? '+' + house.children.to_s : '');  t('short_persons', :persons => persons) %></span>
  <%- end -%></div>
<%- end -%>
</div>
  <div class="next_button"></div>
</div>
<script type="text/javascript">
root_init();
</script>

