<% cache do %>
<%- title t(:home), false -%>
<div class="categories">
<%- @categories[0..6].each_with_index do |category, index| %>
 <div class="category<%= ' last' if (index%4==3) %>">
  <span class="title"><%= link_to category[:name], :controller => :houses, :action => :index, :commit => '', :category => category[:name] %></span>
<%- unless category[:house].nil? or category[:house].picture_ids.nil? -%>
<%- link_to category[:house] do -%>
  <%= image_tag category[:house].picture_urls('s')[0], :alt => category[:name] -%>
<%- end -%>
<%- end -%>
  <div class="item details">
<%=
unless category[:house].nil?
  if category[:house].discount.nil?
    'Ab ' + category[:house].price(Season.which_season?(Date.today)).to_s + ' EURO / Woche / ' + category[:house].persons.to_s + (category[:house].children > 0 ? '+' + category[:house].children.to_s : '') + ' Pers.'
  else
    truncate( category[:house].discount.description, :length => 40 )
  end
end -%>
 </div></div>
<%- end -%>
</div>
<br class="clear" />
<h3><%= t(:tagestip) %></h3>
<div id="horizontal_carousel" class="photos">
<div class="previous_button"></div>
  <div class="container">
    <ul>
<%- for house in @pictures do -%>
  <li><%- link_to :controller => 'houses', :action => 'show', :id => house.id, :anchor => 'details' do -%>
  <%- if house.thumb -%>
    <%= image_tag house.thumb -%>
  <%- else -%>
    <%= t('no_picture') -%>
  <%- end -%>
  <span class="field">max. <%=h house.persons.to_s + (house.children > 0 ? '+' + house.children.to_s : '') %> <%= t('pers') %></span>
  <%- end -%></li>
<%- end -%></ul>
</div>
  <div class="next_button"></div>
</div>
<script>
root_init();
</script>
<% end %>

