<% form_for @discount do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t('admin.house_id') %><br />
    <%= f.text_field :house_id %>
  </p>
  <p>
    <%= f.label t('admin.description') %><br />
    <%= textile_editor :discount, :description %>
  </p>
  <p><%= f.submit t('admin.submit') %></p>
<% end %>
<%= textile_editor_initialize %>
