<% title t("discount") %>

<p>
  <strong><%= t('admin.house') %>:</strong>
  <%=h @discount.house_id %>
</p>
<p>
  <strong><%= t('admin.description) %>:</strong>
  <%= RedCloth.new(@discount.description).to_html %>
</p>

<p>
  <%= link_to t('admin.edit'), edit_discount_path(@discount) %> |
  <%= link_to t('admin.destroy'), @discount, :confirm => t('admin.are_you_sure'), :method => :delete %> |
  <%= link_to t('admin.view_all'), discounts_path %>
</p>
