<% title t("admin.bookings") %>
<p><%= link_to t('admin.new_booking'), new_houses_booking_path %></p>
<% form_for @search do |f| %>
Válassz apartmant:
  <%= text_field_with_auto_complete 'search', 'code', { :size => 20, :class => 'code' }, { :url => houses_path(:format => :js), :method => :get, :param_name => 'search[conditions][code_like]', :with => "value + '&autocomplete=1'", :indicator => :house_spinner } %>
  <img id="house_spinner" src="/images/active_scaffold/default/indicator.gif" style="display:none">
  <div id="house_stamp"></div>
  <div>Válassz dátumot:
  <%= select_year @year, :field_name => 'year' %>
  <%= select_month @month, :field_name => 'month', :locale => :hu %>
</div> vagy: <%= check_box_tag 'all', @all, @all %> összes foglaltság
<div class="span-4"><%= f.submit t("admin.submit") %></div>
<% end %>
<br class='clear' />
<%= event_calendar unless @event_strips.nil? or @all %>
<br class='clear' />
<%= will_paginate @bookings, :previous_label => t(:prev_link), :next_label => t(:next_link) if @all %>
<table>
<thead>
  <tr>
    <th>Házkód</th>
    <th>Foglalás</th>
    <th>Admin</th>
    <th>Érkezés</th>
    <th>Távozás</th>
    <th>Állapot</th>
  </tr>
  </thead>
  <tbody>
  <% for houses_booking in @bookings %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%=h houses_booking.house.code unless houses_booking.house_id.nil? %></td>
      <td><%= link_to_if houses_booking.booking_id, "#{houses_booking.booking.code}", :controller => :bookings, :action => 'show', :id => houses_booking.booking_id %></td> 
      <td><%=h houses_booking.owner.username unless houses_booking.owner_id.nil? %></td>
      <td><%=h houses_booking.start_at %></td>
      <td><%=h houses_booking.end_at %></td>
      <td><%=h houses_booking.status %></td>
      <td><%= link_to t('admin.show'), houses_booking %></td>
      <td><%= link_to t('admin.edit'), edit_houses_booking_path(houses_booking) %></td>
      <td><%= link_to t('admin.destroy'), houses_booking, :confirm => t('Are you sure?'), :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= will_paginate @bookings, :previous_label => t(:prev_link), :next_label => t(:next_link) if @all %>

<p><%= link_to t('admin.new_booking'), new_houses_booking_path %></p>
