<% title t('admin.bookings') %>

<p>
  <strong>Kód:</strong>
  <%= @houses_booking.code %>
</p>
<p>
  <strong>Házkód:</strong>
  <%= link_to @houses_booking.house.code, house_path, :id => @houses_booking.house.id %>
</p>

<% if @houses_booking.booking_id %>
<p>
  <strong>Foglalás:</strong>
  <%= link_to @houses_booking.booking.code, booking_path(:id => @houses_booking.booking_id) %>
</p>
<% end %>
<p>
  <strong>Rögzítette:</strong>
  <%= if @houses_booking.owner then @houses_booking.owner.username else '[bejövő előjegyzés]' end  %>
</p>
<p>
  <strong>Érkezés:</strong>
  <%=h @houses_booking.start_at %>
</p>
<p>
  <strong>Távozás:</strong>
  <%=h @houses_booking.end_at %>
</p>
<p>
  <strong>Ár (EURO):</strong>
  <%=h @houses_booking.price %>
</p>
<p>
  <strong>Állapot:</strong>
  <%=h @houses_booking.status %>
</p>
<p>
  <strong>Létrehozva:</strong>
  <%=h @houses_booking.created_at %>
</p>
<p>
  <strong>Utolsó módosítás:</strong>
  <%=h @houses_booking.updated_at %>
</p>
<p>
  <strong>Megjegyés:</strong>
  <%=h @houses_booking.notes %>
</p>

<p>
  <%= link_to t('admin.edit'), edit_houses_booking_path(@houses_booking) %> |
  <%= link_to t('admin.destroy'), @houses_booking, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t('admin.view_all'), houses_bookings_path %>
</p>
