<% title t('admin.taggables') %>
<p><%= link_to t('admin.new_taggable'), new_taggable_path %></p>
<table>
<thead>
  <tr>
    <th><%= t('admin.field') %></th>
    <th><%= t('admin.name') %></th>
    <th><%= t('admin.context') %></th>
    <th><%= t('admin.multi') %></th>
<!--     <th><%= t('admin.position') %></th> -->
  </tr>
</thead>
<tbody>
  <% for taggable in @taggables %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%=h taggable.field %></td>
      <td><%=h taggable.name %></td>
      <td><%=h taggable.context %></td>
      <td><%= check_box_tag 'published', 1, taggable.multi == 1, :disabled => true %></td>
<!--      <td><%=h taggable.position %></td>-->
      <td><%= link_to t('admin.show'), taggable %></td>
      <td><%= link_to t('admin.edit'), edit_taggable_path(taggable) %></td>
    </tr>
  <% end %>
</tbody></table>

<p><%= link_to t('admin.new_taggable'), new_taggable_path %></p>
