<% title "Taggables" %>

<table>
  <tr>
    <th>Name</th>
    <th>Context</th>
  </tr>
  <% for taggable in @taggables %>
    <tr>
      <td><%=h taggable.name %></td>
      <td><%=h taggable.context %></td>
      <td><%= link_to "Show", taggable %></td>
      <td><%= link_to "Edit", edit_taggable_path(taggable) %></td>
      <td><%= link_to "Destroy", taggable, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Taggable", new_taggable_path %></p>
