<% title t('admin.taggable') %>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%=h @taggable.name %>
</p>
<p>
  <strong><%= t('admin.context') %>:</strong>
  <%=h @taggable.context %>
</p>

<p>
  <strong><%= t('admin.tags') %>:</strong>
  <%=h @taggable.tags.map {|tag| tag.name }.to_sentence %>
</p>

<p>
  <%= link_to t('admin.edit'), edit_taggable_path(@taggable) %> |
  <%= link_to t('admin.destroy'), @taggable, :confirm => t('admin.are_you_sure'), :method => :delete %> |
  <%= link_to t('admin.view_all'), taggables_path %>
</p>
