<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale %>" lang="<%=I18n.locale %>">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= t("Untitled") %><%= ' | ' + h(yield(:title)) %></title>
  <%= tag(:meta, :name => 'description', :content => yield(:description) || t(:meta_description))  %>
  <%# bundle :name => "bundle_#{I18n.locale}", :css_path => "/stylesheets/", :js_path => "/javascripts/" do %>
    <%= javascript_include_tag :defaults,
    'carousel',
    "date/date-#{I18n.locale.to_s}-#{I18n.locale.to_s.upcase}",
    'date/time'
    %>
    <%= stylesheet_link_tag 'blueprint/screen', 'application' %>
    <%= lightbox2_helpers_includes %>
    <%= calendar_date_select_includes 'silver', :locale => I18n.locale %>
  <%-# end -%>
  <% if admin? %>
    <%= stylesheet_link_tag 'event_calendar' %>
    <%= javascript_include_tag 'fckeditor/fckeditor' %>
  <% end -%>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= yield(:head) %>
</head>
<body>
<div id="main" class="<%= 'admin' if admin? %>">
  <div id="top">
    <div class="inner span-24">
      <div id="logo" class="span-14 append-5">
        <% content_tag 'div', :class => 'inner' do %>
          <div id="site-name"><a href="/" title="<%= t :home %>"><img src="/images/logo.png" alt="" /></a><span id="slogan"><%= t :slogan %></span></div>
        <% end %>
      </div>
      <div id="login" class="span-5 last">
          <%- content_tag 'div', :class => 'inner' do -%>
            <%= 'Bejelentkezett felhasználó: <b>' + current_user.username + '</b>' if logged_in? %>
            <%= '<br />Nyelv: ' if logged_in? %><%- [:de, :hu].each do |locale|
              next if locale == :root or locale == :en -%>
              <%= link_to_unless I18n.locale.to_s == locale.to_s, locale, "?locale="+locale.to_s -%> <%= '|' if locale != :hu %>
            <%- end -%>
          <%- end -%>
      </div>
    </div>
    <div id="menu"><div class="inner">
      <%- ['home', 'booking', :cart, :special_offers, 'contact', :programs].each do |item|
        title( t(item) ) unless @content_for_title -%>
        <div class="menu span-4<%= if item == :programs then ' last' end %> <%=
          case item
          when 'home': if controller_name !~ /bookings|pages/ and action_name !~ /cart/ and not params[:discount] then ' selected' end
          when 'booking','contact': if controller_name =~ /#{item}/ then ' selected' end
          else if current_page?(item) then ' selected' end
          end %>">
          <% link_to (
          case item
          when 'home': '/'
          when 'booking': new_booking_path
          when 'contact': {:action => 'new', :controller => :contact}
          else item
          end
          ) do -%><span class="menu-item <%= item.to_s %>"><%= t(item) %><%= if (item == :cart) and cart_items>0 then ' (' + cart_items.to_s + ')' end %></span><% end -%>
        </div>
      <% end -%>
    <%- if admin? -%>
    <div class="menu" style="float:left;width:100%;clear:both">
      <% [:pages, :houses, :houses_bookings, :taggables, :seasons, :event_logs, :image, :users].each do |menu|
        next if menu.to_s !~ /bookings/ and not root_admin? %>
        <div<%=if current_page?(menu) then ' class="selected"' end %> style="float:left;padding-right:10px">
          <% link_to menu do %>
            <span class="menu-item"><%= t("admin.#{menu}") %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <%- end -%>
  </div></div></div>
  <div class="container" id="<%= controller_name %>_<%= action_name %>">
    <div class="inner breadcrumb"><%= breadcrumb %></div>
    <div id="left" class="span-4">
      <% [:infos_a_z, :map, :weather, :calendar, :sights, :offers, :terms, :impressum, :owners].each do |item| -%>
        <div class="menu span-4<%=
        if current_page?(:id => item) then ' selected' end %>">
          <% link_to :controller => 'pages', :action => 'show', :id => item do %>
            <span class="menu-item"><%= t item %></span>
          <% end %>
        </div>
      <% end -%>
      <div class="menu span-4<%=
      if current_page?(login_path) then ' selected' end	%>">
        <% if current_user %>
          <div class="menu-item"><% if root_admin? %><%= link_to t('admin.edit_profile'), edit_user_path(:current) %> |<% end -%>
            <%= link_to t('admin.logout'), logout_path %></div>
        <%- else -%>
          <% link_to login_path do %>
            <span class="menu-item"><%= t("admin_login") %></span>
          <% end -%>
        <% end -%>
      </div>
    </div>
    <div id="content" class="span-20 last">
    <% if controller_name !~ /setup|bookings|contact|pages|users/ -%>
      <div id="search" style="overflow:hidden">
        <% content_tag 'div', :class => 'inner' do -%>
          <% if params[:advanced] %>
          <%= render :partial => 'houses/detailed_search' %>
          <% else %>
          <%= render :partial => 'houses/search' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "#{name} prepend-6" %>
    <%- end -%>
    <%- if show_title? -%>
      <h1><%=h yield(:title) %></h1>
    <%- end -%>
    <div class="span-20">
      <%= yield %>
    </div>
  </div>
  <div class="right">
    <a href="#top"><%= t('page_top') %></a>
  </div>
</div>
<div id="foot" class="span-24"></div>
</div>
<%= yield(:foot) -%>
<!-- <%= "#{RAILS_ENV} runs with Ruby (v#{VERSION}) On Rails (v#{RAILS_GEM_VERSION})" %> -->
</body>
</html>